project_id = "muwugpcegkdgujfesrfq"

[functions.send-recovery-email]
verify_jwt = false

[functions.send-welcome-email]
verify_jwt = false

[functions.send-birthday-reminder]
verify_jwt = false

[functions.emit-coupon]
verify_jwt = false

[functions.validate-coupon]
verify_jwt = false

[functions.stripe-webhook]
verify_jwt = false

[functions.submit-establishment-data]
verify_jwt = true

[functions.release-held-commissions]
verify_jwt = false
